body {
    padding-top: 50px;
    padding-bottom: 20px;
}
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}
.navbar-inverse {
    background-color: deepskyblue;
    border-color: white;
}

.navbar-inverse .navbar-nar > li > a {
    color: white;
}

.navbar-inverse .navbar-brand {
    color: white;
}

/*course layout*/
.course {
    list-style: none;
}

.course > li 
{
    position: relative;
margin-bottom: 30px;
}

.course > li .date {
    text-align: center;
    background-color: gray;
    color: white;
    width: 60px;
    border-radius: 8px;
}
.course > li .details 
{
position: absolute;
top: 0;
left: 70px;
}
.course >li .details
{
    position: absolute;
    top: 0;
    left: 70px;
}

.course > li lecture {
}

.course > li categogy {
}

.course > li action {
    display: none;
    left: 70px;
    position: absolute;
}

.course > li:hover action {
    display: block;
}
